append-database-WLM01WsEXqYcuXOO.json




{"updatedAt":"2025-12-11T13:33:44.354Z","createdAt":"2025-12-10T17:26:50.649Z","id":"WLM01WsEXqYcuXOO","name":"Append Database","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-464,-48],"id":"c102155d-3844-435a-aa02-0c22001462bd","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1aX1IOYwkYBln2wLHM4T2oPzemap-yU4PTqHDM8N0xPk","mode":"list","cachedResultName":"NG-Hub Onboarding / Verified Users","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1aX1IOYwkYBln2wLHM4T2oPzemap-yU4PTqHDM8N0xPk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":512058181,"mode":"list","cachedResultName":"Onboarded Alumni/Learners","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1aX1IOYwkYBln2wLHM4T2oPzemap-yU4PTqHDM8N0xPk/edit#gid=512058181"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-272,-48],"id":"ed78e929-7e81-485d-bf87-837cde3a4ac6","name":"Get row(s)","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"compare":"selectedFields","fieldsToCompare":"['ALX Email Address']","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[224,-64],"id":"bb41ad6b-cb5c-4c90-afa8-87c76db1f4b5","name":"Remove Duplicates"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1jx5D0Th3O3wgkgF3ZR0tMt0g3GrE9NaHULiQhtvPY-o","mode":"list","cachedResultName":"Learners Database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jx5D0Th3O3wgkgF3ZR0tMt0g3GrE9NaHULiQhtvPY-o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"ApprovedLearners","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jx5D0Th3O3wgkgF3ZR0tMt0g3GrE9NaHULiQhtvPY-o/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json['ALX Email Address'] }}","Name":"={{ $json['Full Name'] }}","Program":"={{ $json.Program }}","Phone":"={{ $json['Phone number'] }}"},"matchingColumns":["Email"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Program","displayName":"Program","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[400,80],"id":"50f17165-6a37-4bc2-8919-2bcf176f0c29","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a494d068-f68c-4cf7-962a-6f4587e1c160","name":"ALX Email Address","value":"={{ $json[\"ALX Email Address\"].toLowerCase() }}","type":"string"},{"id":"438a72f5-a52c-4568-a9d8-5f3e48d6d4f7","name":"Full Name","value":"={{ $json[\"Full Name\"] }}","type":"string"},{"id":"ef128a25-5ca2-4181-af21-e80d33dceb0a","name":"Program","value":"={{ $json.Program }}","type":"string"},{"id":"7f27204c-8b22-4a69-855f-aaa4a23e3454","name":"Phone number","value":"={{ $json[\"Phone number\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,-192],"id":"2ecbe868-dc8c-4e8e-af31-14d84d93c266","name":"Edit Fields"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3c31b69c-f153-43df-81c5-16c19633a1d6","triggerCount":1,"shared":[{"updatedAt":"2025-12-10T17:26:50.649Z","createdAt":"2025-12-10T17:26:50.649Z","role":"workflow:owner","workflowId":"WLM01WsEXqYcuXOO","projectId":"5r9mcuAehTDLs5sC"}],"tags":[]}