booking-form-v9cgW2OsjSZp74xW.json




{"updatedAt":"2025-12-01T07:57:26.670Z","createdAt":"2025-11-30T21:34:19.398Z","id":"v9cgW2OsjSZp74xW","name":"Booking Form","active":true,"isArchived":false,"nodes":[{"parameters":{"sendTo":"={{ $('Get row(s)').item.json.Email }}","subject":"Booking Confirmed","message":"=<html>\n  <body style=\"font-family: 'Inter', Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;\">\n    <div style=\"max-width: 600px; margin: 20px auto; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 12px rgba(0,0,0,0.15);\">\n      \n      <!-- HEADER -->\n      <div style=\"background: linear-gradient(to right, #6A1B9A, #4A148C); padding: 20px; color: white; text-align: center; border-radius: 8px 8px 0 0;\">\n        <img src=\"https://res.cloudinary.com/dhlfbfuem/image/upload/v1759419340/Asset_3-8_cdfyce.png\" alt=\"ALX Logo\" style=\"height: 35px; vertical-align: middle;\"/>\n        <p style=\"font-size: 14px; margin-top: 10px; opacity: 0.9;\">ALX NIGERIA HUB BOOKING</p>\n      </div>\n\n      <!-- BODY CONTENT -->\n      <div style=\"padding: 25px 30px;\">\n        <h2 style=\"color: #4A148C; margin-top: 0; font-size: 24px; font-weight: 700;\">Booking Successfully Reserved!</h2>\n        \n        <p style=\"color: #333; line-height: 1.6;\">Hello <b>{{ $('Get row(s)').item.json.Name }}</b>,</p>\n\n        <p style=\"color: #333; line-height: 1.6;\">\n          Your workspace at the <b>{{ $('Get row(s)').item.json.Hub }}</b> hub has been successfully reserved. \n          Please review your booking details below.\n        </p>\n\n        <!-- DETAILS TABLE -->\n        <table style=\"width: 100%; margin: 25px 0; border-collapse: collapse; border: 1px solid #eee; border-radius: 4px;\">\n          \n          <tr>\n            <td style=\"padding: 10px 15px; width: 35%; color: #777; background-color: #fafafa; border-bottom: 1px solid #eee; font-size: 14px;\">Hub Location</td>\n            <td style=\"padding: 10px 15px; font-weight: bold; border-bottom: 1px solid #eee; font-size: 14px;\">{{ $('Get row(s)').item.json.Hub }}</td>\n          </tr>\n          \n          <tr>\n            <td style=\"padding: 10px 15px; color: #777; background-color: #fafafa; border-bottom: 1px solid #eee; font-size: 14px;\">Booking Date</td>\n            <td style=\"padding: 10px 15px; font-weight: bold; border-bottom: 1px solid #eee; font-size: 14px;\">\n              {{ $('Get row(s)').item.json.BookingDate }}\n            </td>\n          </tr>\n          \n          <tr>\n            <td style=\"padding: 10px 15px; color: #777; background-color: #fafafa; border-bottom: 1px solid #eee; font-size: 14px;\">Arrival Time</td>\n            <td style=\"padding: 10px 15px; font-weight: bold; border-bottom: 1px solid #eee; font-size: 14px;\">\n              {{ $('Get row(s)').item.json.BookingTime }}\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 10px 15px; color: #777; background-color: #fafafa; font-size: 14px;\">Seat Number</td>\n            <td style=\"padding: 10px 15px; font-weight: bold; font-size: 14px;\">{{ $('Get row(s)').item.json.SeatNumber }}</td>\n          </tr>\n          \n        </table>\n\n        <!-- WARNING SECTION -->\n        <div style=\"border: 1px solid #DAA520; background-color: #FFFBEA; padding: 15px; border-radius: 6px; margin-top: 20px;\">\n            <p style=\"color: #DAA520; font-weight: bold; margin: 0 0 10px 0; font-size: 14px;\">ACTION REQUIRED: CHECK-IN DEADLINE</p>\n            \n            <p style=\"color: #333; line-height: 1.5; font-size: 13px; margin: 0;\">\n              You must <b>Check-In</b> to your seat on <b>\n{{ $('Get row(s)').item.json.BookingDate }}</b> no later than:\n            </p>\n\n            <p style=\"color: #4A148C; font-size: 16px; font-weight: 700; text-align: center; margin: 10px 0;\">\n{{ DateTime.fromFormat($('Get row(s)').item.json.BookingTime, 'h:mm:ss a').plus({ minutes: 15 }).toFormat('h:mm a') }}\n\n            </p>\n\n            <!-- QR CODE -->\n            <div style=\"text-align: center; margin: 15px 0;\">\n              <img \n                src=\"https://alx-qrcode-webapp.vercel.app/api/qr?text={{ $('Get row(s)').item.json.ClientBookingId }}\"\n                alt=\"QR Code\"\n                style=\"width: 140px; height: 140px;\"\n              />\n              <p style=\"color: #555; font-size: 12px; margin-top: 8px;\">Scan this QR code upon arrival.</p>\n            </div>\n\n            <p style=\"color: #333; line-height: 1.5; font-size: 13px; margin: 0;\">\n              If you fail to check in by this deadline, your booking will be automatically <b>cancelled</b> and the seat will be made available to other learners.\n            </p>\n        </div>\n\n        <p style=\"text-align: center; margin-top: 30px; font-size: 12px; color: #999;\">\n          ALX Nigeria | Enjoy your learning session.\n        </p>\n      </div>\n\n      <!-- FOOTER -->\n      <div style=\"background-color: #4A148C; color: #ddd; text-align: center; padding: 10px 0; font-size: 11px;\">\n        ALX Nigeria | Connect, Learn, Grow.\n      </div>\n\n    </div>\n  </body>\n</html>\n","options":{"appendAttribution":false,"senderName":"ALX Nigeria Hub"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1008,224],"id":"ba50591f-0882-45ac-b267-934a5248aa48","name":"Send a message","webhookId":"cae6afe1-f076-4639-9904-f72f0788532f","credentials":{"gmailOAuth2":{"id":"ETawjlk4A5JB8DGT","name":"Gmail account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc","mode":"list","cachedResultName":"ALX Hub Booking Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Bookings","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"BookingNotification":"SENT","row_number":"={{ $json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Program","displayName":"Program","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hub","displayName":"Hub","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SeatNumber","displayName":"SeatNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingDate","displayName":"BookingDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingTime","displayName":"BookingTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingStatus","displayName":"BookingStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingNotification","displayName":"BookingNotification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UnBookingNotification","displayName":"UnBookingNotification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ClientBookingId","displayName":"ClientBookingId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ServerBookingId","displayName":"ServerBookingId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[784,224],"id":"872d26e8-97ea-4126-9f4b-26efdcb283e1","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"httpMethod":"POST","path":"booking","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[336,0],"id":"bb0e5de5-123f-4749-80ff-cb82216f7583","name":"Webhook","webhookId":"65644406-61bc-42a7-b2d6-e7c14c6a5dee","disabled":true},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[336,224],"id":"ab058c57-da17-42d8-b040-0cb6671f9705","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc","mode":"list","cachedResultName":"ALX Hub Booking Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Bookings","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"BookingStatus","lookupValue":"Booked"},{"lookupColumn":"BookingNotification"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[560,224],"id":"8e927381-142f-408a-94e7-9e90501a1630","name":"Get row(s)","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}}],"connections":{"Update row in sheet":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.examible.com","user-agent":"Mozilla/5.0 (compatible; Google-Apps-Script; beanserver; +https://script.google.com; id: UAEmdDd9ssA1iG0Bu47gQzwCAolyS9qd-QA)","content-length":"0","accept-encoding":"gzip, deflate, br","content-type":"application/json","x-forwarded-for":"107.178.193.228","x-forwarded-host":"n8n.examible.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"37c8b122b68c","x-real-ip":"107.178.193.228"},"params":{},"query":{},"body":{},"webhookUrl":"https://n8n.examible.com/webhook/booking","executionMode":"production"}}]},"versionId":"919aaf87-cd84-40bc-bc03-71ff2bbf4dde","triggerCount":1,"shared":[{"updatedAt":"2025-11-30T21:34:19.398Z","createdAt":"2025-11-30T21:34:19.398Z","role":"workflow:owner","workflowId":"v9cgW2OsjSZp74xW","projectId":"5r9mcuAehTDLs5sC"}],"tags":[]}