checkin-flow-f8uHcE4rXluwCmY5.json




{"updatedAt":"2025-12-01T07:57:20.834Z","createdAt":"2025-11-30T21:34:44.796Z","id":"f8uHcE4rXluwCmY5","name":"CheckIn Flow","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.BookingStatus }}","rightValue":"Unbooked","operator":{"type":"string","operation":"equals"},"id":"15ee9fce-796d-4a82-b5ab-dfb63f053500"}],"combinator":"and"},"renameOutput":true,"outputKey":"Unbooked(Not Active)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"079f3cf8-8cc3-41d5-a2e5-cd21d1a7c0f5","leftValue":"={{ $json.BookingStatus }}","rightValue":"Booked","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Booked"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1760,352],"id":"e40d1eec-70ac-4d63-97bf-db12791900a3","name":"Switch"},{"parameters":{"sendTo":"={{ $('Hub Select').item.json.Email }}","subject":"CheckIn Confirmed","message":"=<html>\n  <body style=\"font-family: 'Inter', Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;\">\n    <div style=\"max-width: 600px; margin: 20px auto; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 12px rgba(0,0,0,0.15);\">\n      \n      <!-- HEADER -->\n      <div style=\"background: linear-gradient(to right, #6A1B9A, #4A148C); padding: 20px; color: white; text-align: center; border-radius: 8px 8px 0 0;\">\n        <img src=\"{{ 'https://res.cloudinary.com/dhlfbfuem/image/upload/v1759419340/Asset_3-8_cdfyce.png' }}\" alt=\"ALX Logo\" style=\"height: 35px; vertical-align: middle;\"/>\n        <p style=\"font-size: 14px; margin-top: 10px; opacity: 0.9;\">ALX NIGERIA ATTENDANCE CONFIRMATION</p>\n      </div>\n\n      <!-- BODY CONTENT -->\n      <div style=\"padding: 25px 30px;\">\n        <!-- CHANGED TITLE TO CONFIRM CHECK-IN -->\n        <h2 style=\"color: #4CAF50; margin-top: 0; font-size: 24px; font-weight: 700;\">Check-In Confirmed!</h2>\n        \n        <p style=\"color: #333; line-height: 1.6;\">Hello <b>{{ $('Switch').item.json.Name }}</b>,</p>\n        \n        <!-- CORE MESSAGE: CHECK-IN SUCCESS -->\n        <p style=\"color: #333; line-height: 1.6;\">\n          Your Check-In at the <b>{{ $('Switch').item.json.Hub.toUpperCase() }}</b> hub has been successfully recorded. You are now checked in to your reserved seat.\n        </p>\n\n        <!-- DETAILS TABLE -->\n        <table style=\"width: 100%; margin: 25px 0; border-collapse: collapse; border: 1px solid #eee; border-radius: 4px;\">\n          \n          <tr>\n            <td style=\"padding: 10px 15px; width: 35%; color: #777; background-color: #fafafa; border-bottom: 1px solid #eee; font-size: 14px;\">Hub Location</td>\n            <td style=\"padding: 10px 15px; font-weight: bold; border-bottom: 1px solid #eee; font-size: 14px;\">{{ $('Switch').item.json.Hub }}</td>\n          </tr>\n          \n          <tr>\n            <td style=\"padding: 10px 15px; width: 35%; color: #777; background-color: #fafafa; border-bottom: 1px solid #eee; font-size: 14px;\">Date</td>\n            <td style=\"padding: 10px 15px; font-weight: bold; border-bottom: 1px solid #eee; font-size: 14px;\">{{ $('Switch').item.json.BookingDate }}\n</td>\n          </tr>\n          \n          <tr>\n            <td style=\"padding: 10px 15px; width: 35%; color: #777; background-color: #fafafa; border-bottom: 1px solid #eee; font-size: 14px;\">Check-In Time</td>\n            <!-- Assuming this is the current time of check-in, or using BookingTime as scheduled time -->\n            <td style=\"padding: 10px 15px; font-weight: bold; border-bottom: 1px solid #eee; font-size: 14px;\">{{ $('Switch').item.json.BookingTime }}\n</td>\n          </tr>\n          \n          <tr>\n            <td style=\"padding: 10px 15px; width: 35%; color: #777; background-color: #fafafa; border-bottom: 1px solid #eee; font-size: 14px;\">Seat Number</td>\n            <td style=\"padding: 10px 15px; font-weight: bold; border-bottom: 1px solid #eee; font-size: 14px;\">{{ $('Switch').item.json.SeatNumber }}</td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 10px 15px; width: 35%; color: #777; background-color: #fafafa; font-size: 14px;\">Status</td>\n            <!-- Displaying green ACTIVE status -->\n            <td style=\"padding: 10px 15px; font-weight: bold; font-size: 14px; color: #4CAF50;\">ACTIVE</td> \n          </tr>\n          \n        </table>\n        \n        <!-- NEW WARNING SECTION: CHECK-OUT REMINDER -->\n        <div style=\"border: 1px solid #FF9800; background-color: #FFF3E0; padding: 15px; border-radius: 6px; margin-top: 20px;\">\n            <p style=\"color: #FF9800; font-weight: bold; margin: 0 0 10px 0; font-size: 14px;\">ACTION REQUIRED: CHECK-OUT REMINDER</p>\n            <p style=\"color: #333; line-height: 1.5; font-size: 13px; margin: 0;\">\n                Please remember to <b>Check-Out</b> when you leave the hub today. Failure to check out may impact your future booking privileges.\n            </p>\n        </div>\n        <!-- END WARNING SECTION -->\n\n        <p style=\"text-align: center; margin-top: 30px; font-size: 12px; color: #999;\">\n          ALX Nigeria | Enjoy your learning session.\n        </p>\n      </div>\n\n      <!-- FOOTER -->\n      <div style=\"background-color: #4A148C; color: #ddd; text-align: center; padding: 10px 0; font-size: 11px;\">\n        ALX Nigeria | Connect, Learn, Grow.\n      </div>\n    </div>\n  </body>\n</html>","options":{"appendAttribution":false,"senderName":"ALX Nigeria Hub"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2464,512],"id":"2e335321-a523-44cb-89c6-3f1da366848c","name":"Send a message","webhookId":"782da156-fbdc-4a93-bbe8-9667a52ff8d7","credentials":{"gmailOAuth2":{"id":"ETawjlk4A5JB8DGT","name":"Gmail account"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2336,304],"id":"9a4e5289-7884-4912-9fbd-e8f00d6a5fd3","name":"Wait","webhookId":"e079dc1b-6ed3-4357-a172-b0ea68fcf347"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg","mode":"list","cachedResultName":"Check In Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":514593678,"mode":"list","cachedResultName":"Costain","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit#gid=514593678"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.Email }}","BookingConfirmation":"Booking Cancelled"},"matchingColumns":["Email"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Program","displayName":"Program","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hub","displayName":"Hub","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":" SeatNumber","displayName":" SeatNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingDate","displayName":"BookingDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingStatus","displayName":"BookingStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingConfirmation","displayName":"BookingConfirmation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2096,304],"id":"37d368c8-7328-48c2-a0b7-957476fb5405","name":"Unbooked Rows","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg","mode":"list","cachedResultName":"Check In Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1528050893,"mode":"list","cachedResultName":"Ajah","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit#gid=1528050893"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2576,288],"id":"4494bce8-b2fd-4dcc-b77d-587523d0c3f9","name":"Delete Unbooked Rows","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg","mode":"list","cachedResultName":"Check In Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":966167697,"mode":"list","cachedResultName":"Costain","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit#gid=966167697"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","BookingConfirmation":"Checked In"},"matchingColumns":["row_number"],"schema":[{"id":"BookingID","displayName":"BookingID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Program","displayName":"Program","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hub","displayName":"Hub","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SeatNumber","displayName":"SeatNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingDate","displayName":"BookingDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingTime","displayName":"BookingTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingStatus","displayName":"BookingStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingConfirmation","displayName":"BookingConfirmation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BookingFormUpdated","displayName":"BookingFormUpdated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EndTime","displayName":"EndTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Duration","displayName":"Duration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2176,496],"id":"b1a3d551-47e5-48fa-a2d5-860013ab7569","name":"Update CheckIn Booked Rows","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"httpMethod":"POST","path":"scan","options":{}},"id":"2ff860b3-2104-46fb-a93d-2837abac7001","name":"Webhook Scan","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[2928,2112],"webhookId":"5106b54e-fb08-4d0c-8e6d-6013b604c336","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.BookingStatus }}","rightValue":"Unbooked","operator":{"type":"string","operation":"equals"},"id":"15ee9fce-796d-4a82-b5ab-dfb63f053500"}],"combinator":"and"},"renameOutput":true,"outputKey":"Unbooked(Not Active)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"079f3cf8-8cc3-41d5-a2e5-cd21d1a7c0f5","leftValue":"={{ $json.BookingStatus }}","rightValue":"Booked","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Booked"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1456,1072],"id":"15c087b1-c75b-488d-8b91-59be051339f8","name":"Switch2"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2048,1120],"id":"9c52efc1-5a74-4b17-9f72-b9f835081fd4","name":"Wait1","webhookId":"e079dc1b-6ed3-4357-a172-b0ea68fcf347"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg","mode":"list","cachedResultName":"Check In Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":514593678,"mode":"list","cachedResultName":"Costain","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit#gid=514593678"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.Email }}","BookingConfirmation":"Booking Cancelled"},"matchingColumns":["Email"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Program","displayName":"Program","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hub","displayName":"Hub","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":" SeatNumber","displayName":" SeatNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingDate","displayName":"BookingDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingStatus","displayName":"BookingStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingConfirmation","displayName":"BookingConfirmation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1792,1040],"id":"bc21f8f4-71fb-461f-8095-1e1c9d3d50d9","name":"Unbooked Rows1","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg","mode":"list","cachedResultName":"Check In Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1528050893,"mode":"list","cachedResultName":"Ajah","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit#gid=1528050893"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2368,1216],"id":"defc62d1-8128-442b-9971-d44fb829bcf6","name":"Delete Unbooked Rows1","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg","mode":"list","cachedResultName":"Check In Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":262429328,"mode":"list","cachedResultName":"Ajah","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit#gid=262429328"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","BookingConfirmation":"Checked In"},"matchingColumns":["row_number"],"schema":[{"id":"BookingID","displayName":"BookingID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Program","displayName":"Program","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hub","displayName":"Hub","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SeatNumber","displayName":"SeatNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingDate","displayName":"BookingDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingTime","displayName":"BookingTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingStatus","displayName":"BookingStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingConfirmation","displayName":"BookingConfirmation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BookingFormUpdated","displayName":"BookingFormUpdated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EndTime","displayName":"EndTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Duration","displayName":"Duration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1824,1232],"id":"bcbd54ec-9505-4778-b8e1-4e07c7267bea","name":"Update CheckIn Booked Rows1","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.BookingStatus }}","rightValue":"Unbooked","operator":{"type":"string","operation":"equals"},"id":"15ee9fce-796d-4a82-b5ab-dfb63f053500"}],"combinator":"and"},"renameOutput":true,"outputKey":"Unbooked(Not Active)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"079f3cf8-8cc3-41d5-a2e5-cd21d1a7c0f5","leftValue":"={{ $json.BookingStatus }}","rightValue":"Booked","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Booked"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1504,736],"id":"04c964a9-ef6a-4938-94fe-8b45cd9def40","name":"Switch3"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2480,720],"id":"a21ae901-9838-4a72-bc08-2455d7b7b097","name":"Wait2","webhookId":"e079dc1b-6ed3-4357-a172-b0ea68fcf347"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg","mode":"list","cachedResultName":"Check In Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":514593678,"mode":"list","cachedResultName":"Costain","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit#gid=514593678"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.Email }}","BookingConfirmation":"Booking Cancelled"},"matchingColumns":["Email"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Program","displayName":"Program","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hub","displayName":"Hub","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":" SeatNumber","displayName":" SeatNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingDate","displayName":"BookingDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingStatus","displayName":"BookingStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingConfirmation","displayName":"BookingConfirmation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1984,704],"id":"75ba3509-c297-4c7c-856e-66a520fde844","name":"Unbooked Rows2","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg","mode":"list","cachedResultName":"Check In Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1528050893,"mode":"list","cachedResultName":"Ajah","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit#gid=1528050893"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2720,768],"id":"c148ca2e-ef93-4a72-b959-a3aaa84dbaa6","name":"Delete Unbooked Rows2","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Hub }}","rightValue":"Costain","operator":{"type":"string","operation":"equals"},"id":"50f9ba9c-a3e2-4fde-b0cb-5f3ebdf1536f"}],"combinator":"and"},"renameOutput":true,"outputKey":"Costain"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"635ff7d4-3d9e-427c-af8b-7870d0859784","leftValue":"={{ $json.Hub }}","rightValue":"Akowonjo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Akowonjo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9bee511c-baa1-4aac-87a8-ea067e337453","leftValue":"={{ $json.Hub }}","rightValue":"Ajah","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ajah"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1040,720],"id":"bf6c24f1-bc59-443d-a4f5-e9b7a0708f83","name":"Hub Select"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg","mode":"list","cachedResultName":"Check In Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Akowonjo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","BookingConfirmation":"Checked In"},"matchingColumns":["row_number"],"schema":[{"id":"BookingID","displayName":"BookingID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Program","displayName":"Program","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hub","displayName":"Hub","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SeatNumber","displayName":"SeatNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingDate","displayName":"BookingDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingTime","displayName":"BookingTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingStatus","displayName":"BookingStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingConfirmation","displayName":"BookingConfirmation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BookingFormUpdated","displayName":"BookingFormUpdated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EndTime","displayName":"EndTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Duration","displayName":"Duration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2192,928],"id":"9f16410d-113a-433f-9d34-7e9e598bd644","name":"Update CheckIn Booked Rows3","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"sendTo":"={{ $('Akowonjo').item.json.Email }}","subject":"CheckIn Confirmed","message":"=<html>\n  <body style=\"font-family: 'Inter', Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;\">\n    <div style=\"max-width: 600px; margin: 20px auto; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 12px rgba(0,0,0,0.15);\">\n      \n      <!-- HEADER -->\n      <div style=\"background: linear-gradient(to right, #6A1B9A, #4A148C); padding: 20px; color: white; text-align: center; border-radius: 8px 8px 0 0;\">\n        <img src=\"{{ 'https://res.cloudinary.com/dhlfbfuem/image/upload/v1759419340/Asset_3-8_cdfyce.png' }}\" alt=\"ALX Logo\" style=\"height: 35px; vertical-align: middle;\"/>\n        <p style=\"font-size: 14px; margin-top: 10px; opacity: 0.9;\">ALX NIGERIA ATTENDANCE CONFIRMATION</p>\n      </div>\n\n      <!-- BODY CONTENT -->\n      <div style=\"padding: 25px 30px;\">\n        <!-- CHANGED TITLE TO CONFIRM CHECK-IN -->\n        <h2 style=\"color: #4CAF50; margin-top: 0; font-size: 24px; font-weight: 700;\">Check-In Confirmed!</h2>\n        \n        <p style=\"color: #333; line-height: 1.6;\">Hello <b>{{ $('Akowonjo').item.json.Name }}</b>,</p>\n        \n        <!-- CORE MESSAGE: CHECK-IN SUCCESS -->\n        <p style=\"color: #333; line-height: 1.6;\">\n          Your Check-In at the <b>{{ $('Akowonjo').item.json.Hub.toUpperCase() }}</b> hub has been successfully recorded. You are now checked in to your reserved seat.\n        </p>\n\n        <!-- DETAILS TABLE -->\n        <table style=\"width: 100%; margin: 25px 0; border-collapse: collapse; border: 1px solid #eee; border-radius: 4px;\">\n          \n          <tr>\n            <td style=\"padding: 10px 15px; width: 35%; color: #777; background-color: #fafafa; border-bottom: 1px solid #eee; font-size: 14px;\">Hub Location</td>\n            <td style=\"padding: 10px 15px; font-weight: bold; border-bottom: 1px solid #eee; font-size: 14px;\">{{ $('Akowonjo').item.json.Hub }}</td>\n          </tr>\n          \n          <tr>\n            <td style=\"padding: 10px 15px; width: 35%; color: #777; background-color: #fafafa; border-bottom: 1px solid #eee; font-size: 14px;\">Date</td>\n            <td style=\"padding: 10px 15px; font-weight: bold; border-bottom: 1px solid #eee; font-size: 14px;\">{{ $('Akowonjo').item.json.BookingDate }}\n</td>\n          </tr>\n          \n          <tr>\n            <td style=\"padding: 10px 15px; width: 35%; color: #777; background-color: #fafafa; border-bottom: 1px solid #eee; font-size: 14px;\">Check-In Time</td>\n            <!-- Assuming this is the current time of check-in, or using BookingTime as scheduled time -->\n            <td style=\"padding: 10px 15px; font-weight: bold; border-bottom: 1px solid #eee; font-size: 14px;\">{{ $('Akowonjo').item.json.BookingTime }}\n</td>\n          </tr>\n          \n          <tr>\n            <td style=\"padding: 10px 15px; width: 35%; color: #777; background-color: #fafafa; border-bottom: 1px solid #eee; font-size: 14px;\">Seat Number</td>\n            <td style=\"padding: 10px 15px; font-weight: bold; border-bottom: 1px solid #eee; font-size: 14px;\">{{ $('Akowonjo').item.json.SeatNumber }}</td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 10px 15px; width: 35%; color: #777; background-color: #fafafa; font-size: 14px;\">Status</td>\n            <!-- Displaying green ACTIVE status -->\n            <td style=\"padding: 10px 15px; font-weight: bold; font-size: 14px; color: #4CAF50;\">ACTIVE</td> \n          </tr>\n          \n        </table>\n        \n        <!-- NEW WARNING SECTION: CHECK-OUT REMINDER -->\n        <div style=\"border: 1px solid #FF9800; background-color: #FFF3E0; padding: 15px; border-radius: 6px; margin-top: 20px;\">\n            <p style=\"color: #FF9800; font-weight: bold; margin: 0 0 10px 0; font-size: 14px;\">ACTION REQUIRED: CHECK-OUT REMINDER</p>\n            <p style=\"color: #333; line-height: 1.5; font-size: 13px; margin: 0;\">\n                Please remember to <b>Check-Out</b> when you leave the hub today. Failure to check out may impact your future booking privileges.\n            </p>\n        </div>\n        <!-- END WARNING SECTION -->\n\n        <p style=\"text-align: center; margin-top: 30px; font-size: 12px; color: #999;\">\n          ALX Nigeria | Enjoy your learning session.\n        </p>\n      </div>\n\n      <!-- FOOTER -->\n      <div style=\"background-color: #4A148C; color: #ddd; text-align: center; padding: 10px 0; font-size: 11px;\">\n        ALX Nigeria | Connect, Learn, Grow.\n      </div>\n    </div>\n  </body>\n</html>","options":{"appendAttribution":false,"senderName":"ALX Nigeria Hub"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2512,992],"id":"ac13eeee-a8c0-4def-ac95-8e3adbc4b53d","name":"Send a message1","webhookId":"782da156-fbdc-4a93-bbe8-9667a52ff8d7","credentials":{"gmailOAuth2":{"id":"ETawjlk4A5JB8DGT","name":"Gmail account"}}},{"parameters":{"sendTo":"={{ $('Ajah').item.json.Email }}","subject":"CheckIn Confirmed","message":"=<html>\n  <body style=\"font-family: 'Inter', Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;\">\n    <div style=\"max-width: 600px; margin: 20px auto; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 12px rgba(0,0,0,0.15);\">\n      \n      <!-- HEADER -->\n      <div style=\"background: linear-gradient(to right, #6A1B9A, #4A148C); padding: 20px; color: white; text-align: center; border-radius: 8px 8px 0 0;\">\n        <img src=\"{{ 'https://res.cloudinary.com/dhlfbfuem/image/upload/v1759419340/Asset_3-8_cdfyce.png' }}\" alt=\"ALX Logo\" style=\"height: 35px; vertical-align: middle;\"/>\n        <p style=\"font-size: 14px; margin-top: 10px; opacity: 0.9;\">ALX NIGERIA ATTENDANCE CONFIRMATION</p>\n      </div>\n\n      <!-- BODY CONTENT -->\n      <div style=\"padding: 25px 30px;\">\n        <!-- CHANGED TITLE TO CONFIRM CHECK-IN -->\n        <h2 style=\"color: #4CAF50; margin-top: 0; font-size: 24px; font-weight: 700;\">Check-In Confirmed!</h2>\n        \n        <p style=\"color: #333; line-height: 1.6;\">Hello <b>{{ $('Ajah').item.json.Name }}</b>,</p>\n        \n        <!-- CORE MESSAGE: CHECK-IN SUCCESS -->\n        <p style=\"color: #333; line-height: 1.6;\">\n          Your Check-In at the <b>{{ $('Ajah').item.json.Hub.toUpperCase() }}</b> hub has been successfully recorded. You are now checked in to your reserved seat.\n        </p>\n\n        <!-- DETAILS TABLE -->\n        <table style=\"width: 100%; margin: 25px 0; border-collapse: collapse; border: 1px solid #eee; border-radius: 4px;\">\n          \n          <tr>\n            <td style=\"padding: 10px 15px; width: 35%; color: #777; background-color: #fafafa; border-bottom: 1px solid #eee; font-size: 14px;\">Hub Location</td>\n            <td style=\"padding: 10px 15px; font-weight: bold; border-bottom: 1px solid #eee; font-size: 14px;\">{{ $('Ajah').item.json.Hub }}</td>\n          </tr>\n          \n          <tr>\n            <td style=\"padding: 10px 15px; width: 35%; color: #777; background-color: #fafafa; border-bottom: 1px solid #eee; font-size: 14px;\">Date</td>\n            <td style=\"padding: 10px 15px; font-weight: bold; border-bottom: 1px solid #eee; font-size: 14px;\">{{ $('Ajah').item.json.BookingDate }}\n</td>\n          </tr>\n          \n          <tr>\n            <td style=\"padding: 10px 15px; width: 35%; color: #777; background-color: #fafafa; border-bottom: 1px solid #eee; font-size: 14px;\">Check-In Time</td>\n            <!-- Assuming this is the current time of check-in, or using BookingTime as scheduled time -->\n            <td style=\"padding: 10px 15px; font-weight: bold; border-bottom: 1px solid #eee; font-size: 14px;\">{{ $('Ajah').item.json.BookingTime }}\n</td>\n          </tr>\n          \n          <tr>\n            <td style=\"padding: 10px 15px; width: 35%; color: #777; background-color: #fafafa; border-bottom: 1px solid #eee; font-size: 14px;\">Seat Number</td>\n            <td style=\"padding: 10px 15px; font-weight: bold; border-bottom: 1px solid #eee; font-size: 14px;\">{{ $('Ajah').item.json.SeatNumber }}</td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 10px 15px; width: 35%; color: #777; background-color: #fafafa; font-size: 14px;\">Status</td>\n            <!-- Displaying green ACTIVE status -->\n            <td style=\"padding: 10px 15px; font-weight: bold; font-size: 14px; color: #4CAF50;\">ACTIVE</td> \n          </tr>\n          \n        </table>\n        \n        <!-- NEW WARNING SECTION: CHECK-OUT REMINDER -->\n        <div style=\"border: 1px solid #FF9800; background-color: #FFF3E0; padding: 15px; border-radius: 6px; margin-top: 20px;\">\n            <p style=\"color: #FF9800; font-weight: bold; margin: 0 0 10px 0; font-size: 14px;\">ACTION REQUIRED: CHECK-OUT REMINDER</p>\n            <p style=\"color: #333; line-height: 1.5; font-size: 13px; margin: 0;\">\n                Please remember to <b>Check-Out</b> when you leave the hub today. Failure to check out may impact your future booking privileges.\n            </p>\n        </div>\n        <!-- END WARNING SECTION -->\n\n        <p style=\"text-align: center; margin-top: 30px; font-size: 12px; color: #999;\">\n          ALX Nigeria | Enjoy your learning session.\n        </p>\n      </div>\n\n      <!-- FOOTER -->\n      <div style=\"background-color: #4A148C; color: #ddd; text-align: center; padding: 10px 0; font-size: 11px;\">\n        ALX Nigeria | Connect, Learn, Grow.\n      </div>\n    </div>\n  </body>\n</html>","options":{"appendAttribution":false,"senderName":"ALX Nigeria Hub"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2320,1456],"id":"e982c81e-a8d7-42a1-a233-3f30de4e8790","name":"Send a message2","webhookId":"782da156-fbdc-4a93-bbe8-9667a52ff8d7","credentials":{"gmailOAuth2":{"id":"ETawjlk4A5JB8DGT","name":"Gmail account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19a786ef-8fb8-4506-bb88-fea8a1838ad3","leftValue":"={{ $json.BookingConfirmation }}","rightValue":"Checked In","operator":{"type":"string","operation":"equals"}},{"id":"06c7a59e-a6c3-4ad6-b4df-ca819e5a999b","leftValue":"={{ $json.BookingFormUpdated }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2960,528],"id":"470be777-72e1-4d6f-b3a0-f95da3ecdfb9","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"07223575-e5fa-4037-b855-044b1e7f1fb1","leftValue":"={{ $json.BookingStatus }}","rightValue":"Booked","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"706e89af-90bc-42e1-8f8e-91bffbb54348","leftValue":"={{ $today.toFormat('yyyy-MM-dd') }}","rightValue":"={{ $json.BookingDate }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"79be1b8c-b2e9-4d2b-8f67-33e15758b7b4","leftValue":"={{ $json.UnBookingNotification }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[3168,1760],"id":"1edfa2ed-c513-49c6-a188-2f89aab0f129","name":"Filter","disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc","mode":"list","cachedResultName":"ALX Hub Booking Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Bookings","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"UnBookingNotification":"CHECKED IN","row_number":"={{ $json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Program","displayName":"Program","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hub","displayName":"Hub","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SeatNumber","displayName":"SeatNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingDate","displayName":"BookingDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingTime","displayName":"BookingTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingStatus","displayName":"BookingStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingNotification","displayName":"BookingNotification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UnBookingNotification","displayName":"UnBookingNotification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ClientBookingId","displayName":"ClientBookingId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ServerBookingId","displayName":"ServerBookingId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3536,464],"id":"b0877c11-bf7b-4ef9-a155-be44d3ed89fc","name":"Update Booking Row","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg","mode":"list","cachedResultName":"Check In Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":966167697,"mode":"list","cachedResultName":"Costain","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit#gid=966167697"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get CheckedIn Row').item.json.row_number }}","BookingFormUpdated":"YES"},"matchingColumns":["row_number"],"schema":[{"id":"BookingID","displayName":"BookingID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Program","displayName":"Program","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hub","displayName":"Hub","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SeatNumber","displayName":"SeatNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingDate","displayName":"BookingDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingTime","displayName":"BookingTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingStatus","displayName":"BookingStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingConfirmation","displayName":"BookingConfirmation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingFormUpdated","displayName":"BookingFormUpdated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EndTime","displayName":"EndTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Duration","displayName":"Duration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3808,464],"id":"d53e28db-ade6-4b7d-83b8-57174b8aaf52","name":"Update CheckIn Row","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg","mode":"list","cachedResultName":"Check In Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":966167697,"mode":"list","cachedResultName":"Costain","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit#gid=966167697"},"filtersUI":{"values":[{"lookupColumn":"BookingID","lookupValue":"={{ $('Hub Select').item.json.BookingID }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2752,512],"id":"01aa72b6-fe58-4f1a-b715-48d4fabaaf32","name":"Get CheckedIn Row","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc","mode":"list","cachedResultName":"ALX Hub Booking Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Bookings","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ClientBookingId","lookupValue":"={{ $json.BookingID }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3232,464],"id":"6202e741-10c2-43ac-9be3-e8b699b51c2e","name":"Get Booking Data","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19a786ef-8fb8-4506-bb88-fea8a1838ad3","leftValue":"={{ $json.BookingConfirmation }}","rightValue":"Checked In","operator":{"type":"string","operation":"equals"}},{"id":"06c7a59e-a6c3-4ad6-b4df-ca819e5a999b","leftValue":"={{ $json.BookingFormUpdated }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2992,1040],"id":"c7289a01-a401-4837-a512-6e9ee8c904ab","name":"If1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc","mode":"list","cachedResultName":"ALX Hub Booking Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Bookings","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"UnBookingNotification":"CHECKED IN","row_number":"={{ $json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Program","displayName":"Program","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hub","displayName":"Hub","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SeatNumber","displayName":"SeatNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingDate","displayName":"BookingDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingTime","displayName":"BookingTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingStatus","displayName":"BookingStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingNotification","displayName":"BookingNotification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UnBookingNotification","displayName":"UnBookingNotification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ClientBookingId","displayName":"ClientBookingId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ServerBookingId","displayName":"ServerBookingId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3664,960],"id":"a151a92a-7b3a-495a-b384-cf87153f79db","name":"Update Booking Row1","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg","mode":"list","cachedResultName":"Check In Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Akowonjo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get CheckedIn Row1').item.json.row_number }}","BookingFormUpdated":"YES"},"matchingColumns":["row_number"],"schema":[{"id":"BookingID","displayName":"BookingID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Program","displayName":"Program","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hub","displayName":"Hub","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SeatNumber","displayName":"SeatNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingDate","displayName":"BookingDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingTime","displayName":"BookingTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingStatus","displayName":"BookingStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingConfirmation","displayName":"BookingConfirmation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingFormUpdated","displayName":"BookingFormUpdated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EndTime","displayName":"EndTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Duration","displayName":"Duration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3968,976],"id":"0aa5cd2a-5257-46d5-9d7d-2914dcf7370a","name":"Update CheckIn Row1","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg","mode":"list","cachedResultName":"Check In Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Akowonjo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email","lookupValue":"={{ $('Akowonjo').item.json.Email }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2768,1008],"id":"edf008a7-c6b1-4be2-ba67-a79a17cb6164","name":"Get CheckedIn Row1","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc","mode":"list","cachedResultName":"ALX Hub Booking Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Bookings","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ClientBookingId","lookupValue":"={{ $json.BookingID }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3296,1024],"id":"4e46a59a-587c-4575-aa42-cbd7f6e6d8c3","name":"Get Booking Data1","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19a786ef-8fb8-4506-bb88-fea8a1838ad3","leftValue":"={{ $json.BookingConfirmation }}","rightValue":"Checked In","operator":{"type":"string","operation":"equals"}},{"id":"06c7a59e-a6c3-4ad6-b4df-ca819e5a999b","leftValue":"={{ $json.BookingFormUpdated }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2832,1488],"id":"67ace281-497b-433a-ace5-9901cbe9c68f","name":"If2"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc","mode":"list","cachedResultName":"ALX Hub Booking Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Bookings","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"UnBookingNotification":"CHECKED IN","row_number":"={{ $json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Program","displayName":"Program","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hub","displayName":"Hub","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SeatNumber","displayName":"SeatNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingDate","displayName":"BookingDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingTime","displayName":"BookingTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingStatus","displayName":"BookingStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingNotification","displayName":"BookingNotification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UnBookingNotification","displayName":"UnBookingNotification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ClientBookingId","displayName":"ClientBookingId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ServerBookingId","displayName":"ServerBookingId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3408,1424],"id":"394927bb-a522-48ed-9fe7-4393e01d166a","name":"Update Booking Row2","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg","mode":"list","cachedResultName":"Check In Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":262429328,"mode":"list","cachedResultName":"Ajah","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit#gid=262429328"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get CheckedIn Row2').item.json.row_number }}","BookingFormUpdated":"YES"},"matchingColumns":["row_number"],"schema":[{"id":"BookingID","displayName":"BookingID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Program","displayName":"Program","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hub","displayName":"Hub","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SeatNumber","displayName":"SeatNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingDate","displayName":"BookingDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingTime","displayName":"BookingTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingStatus","displayName":"BookingStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingConfirmation","displayName":"BookingConfirmation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingFormUpdated","displayName":"BookingFormUpdated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EndTime","displayName":"EndTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Duration","displayName":"Duration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3680,1424],"id":"8066fd1d-72b0-4cf2-a830-b61244b4eaad","name":"Update CheckIn Row2","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg","mode":"list","cachedResultName":"Check In Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":262429328,"mode":"list","cachedResultName":"Ajah","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit#gid=262429328"},"filtersUI":{"values":[{"lookupColumn":"Email","lookupValue":"={{ $('Ajah').item.json.Email }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2624,1472],"id":"d0b5c131-580d-4e87-b1e4-9098d9250204","name":"Get CheckedIn Row2","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc","mode":"list","cachedResultName":"ALX Hub Booking Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Bookings","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ClientBookingId","lookupValue":"={{ $json.BookingID }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3104,1424],"id":"11b1d036-2610-447d-ba8e-5f723b21c718","name":"Get Booking Data2","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg","mode":"list","cachedResultName":"Check In Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Akowonjo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"BookingStatus","lookupValue":"Booked"},{"lookupColumn":"BookingConfirmation"},{"lookupColumn":"BookingFormUpdated"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[656,672],"id":"68fe7763-be97-423c-89bd-d20884e92347","name":"Akowonjo","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg","mode":"list","cachedResultName":"Check In Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":966167697,"mode":"list","cachedResultName":"Costain","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit#gid=966167697"},"filtersUI":{"values":[{"lookupColumn":"BookingStatus","lookupValue":"Booked"},{"lookupColumn":"BookingConfirmation"},{"lookupColumn":"BookingFormUpdated"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[656,480],"id":"b23d83f9-2117-407b-a9f5-52fd0c98d892","name":"Costain","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg","mode":"list","cachedResultName":"Check In Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":262429328,"mode":"list","cachedResultName":"Ajah","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit#gid=262429328"},"filtersUI":{"values":[{"lookupColumn":"BookingStatus","lookupValue":"Booked"},{"lookupColumn":"BookingConfirmation"},{"lookupColumn":"BookingFormUpdated"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[672,912],"id":"d3a8ab11-ec6b-448e-9d69-ee8e543f2c22","name":"Ajah","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[80,704],"id":"c76a01e5-f555-4a4e-9d36-651c2845c362","name":"Schedule Trigger"},{"parameters":{"jsCode":"const now = new Date();\nconst end = new Date();\nend.setHours(20, 30, 0, 0); // 8:30 PM\n\n// If time is past 8:30 PM, stop workflow\nif (now >= end) {\n  return [{ stop: true }];\n}\n\n// Otherwise continue\nreturn [{ stop: false }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,80],"id":"2b4321e7-7b94-4d80-9215-f46745253f32","name":"Code","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5cede467-8f84-46f6-a29a-aee608387bf8","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,0],"id":"3a858392-d11e-43ae-a339-c38ca33f627c","name":"If3","disabled":true},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[288,16],"id":"dd5542bf-257a-4972-981e-ecf2876ab0d1","name":"Wait3","webhookId":"9572eef2-1952-4035-94bd-699b2bd25bdc","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg","mode":"list","cachedResultName":"Check In Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Akowonjo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"BookingStatus","lookupValue":"Booked"},{"lookupColumn":"BookingConfirmation"},{"lookupColumn":"BookingFormUpdated"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-400,256],"id":"b4048eb6-6ba6-489c-9c21-116a05c951c1","name":"Akowonjo1","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}},"disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg","mode":"list","cachedResultName":"Check In Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":514593678,"mode":"list","cachedResultName":"Costain","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit#gid=514593678"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-400,64],"id":"c85608db-45b0-4e08-93c3-3190dc3f38dd","name":"Costain1","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}},"disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg","mode":"list","cachedResultName":"Check In Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1528050893,"mode":"list","cachedResultName":"Ajah","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9CedGwIO33mclifZ7iXwUoNhjaxNdwhFJj3RnKXqsg/edit#gid=1528050893"},"filtersUI":{"values":[{"lookupColumn":"Email"}]},"options":{"returnFirstMatch":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-384,496],"id":"7f604420-8ee9-457a-b050-4c6163df7812","name":"Ajah1","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}},"disabled":true}],"connections":{"Switch":{"main":[[{"node":"Unbooked Rows","type":"main","index":0}],[{"node":"Update CheckIn Booked Rows","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Delete Unbooked Rows","type":"main","index":0}]]},"Unbooked Rows":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Update CheckIn Booked Rows":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Unbooked Rows1","type":"main","index":0}],[{"node":"Update CheckIn Booked Rows1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Delete Unbooked Rows1","type":"main","index":0}]]},"Unbooked Rows1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Update CheckIn Booked Rows1":{"main":[[{"node":"Send a message2","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Unbooked Rows2","type":"main","index":0}],[{"node":"Update CheckIn Booked Rows3","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Delete Unbooked Rows2","type":"main","index":0}]]},"Unbooked Rows2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Hub Select":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Switch3","type":"main","index":0}],[{"node":"Switch2","type":"main","index":0}]]},"Update CheckIn Booked Rows3":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Get CheckedIn Row","type":"main","index":0}]]},"If":{"main":[[{"node":"Get Booking Data","type":"main","index":0}]]},"Update Booking Row":{"main":[[{"node":"Update CheckIn Row","type":"main","index":0}]]},"Get CheckedIn Row":{"main":[[{"node":"If","type":"main","index":0}]]},"Get Booking Data":{"main":[[{"node":"Update Booking Row","type":"main","index":0}]]},"If1":{"main":[[{"node":"Get Booking Data1","type":"main","index":0}]]},"Update Booking Row1":{"main":[[{"node":"Update CheckIn Row1","type":"main","index":0}]]},"Get CheckedIn Row1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Get Booking Data1":{"main":[[{"node":"Update Booking Row1","type":"main","index":0}]]},"If2":{"main":[[{"node":"Get Booking Data2","type":"main","index":0}]]},"Update Booking Row2":{"main":[[{"node":"Update CheckIn Row2","type":"main","index":0}]]},"Get CheckedIn Row2":{"main":[[{"node":"If2","type":"main","index":0}]]},"Get Booking Data2":{"main":[[{"node":"Update Booking Row2","type":"main","index":0}]]},"Send a message2":{"main":[[{"node":"Get CheckedIn Row2","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"Get CheckedIn Row1","type":"main","index":0}]]},"Akowonjo":{"main":[[{"node":"Hub Select","type":"main","index":0}]]},"Ajah":{"main":[[{"node":"Hub Select","type":"main","index":0}]]},"Costain":{"main":[[{"node":"Hub Select","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Costain","type":"main","index":0},{"node":"Akowonjo","type":"main","index":0},{"node":"Ajah","type":"main","index":0}]]},"Code":{"main":[[{"node":"If3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Akowonjo":[{"json":{"row_number":2,"BookingID":"1764572628432-arwol6","Email":"obusco4lyfe@gmail.com","Name":"Akunwanne Kenneth","Program":"Alumni","Phone":7069635261,"Hub":"Akowonjo","SeatNumber":2,"BookingDate":"12/1/2025","BookingTime":"9:00:00 AM","BookingStatus":"Booked","BookingConfirmation":"","BookingFormUpdated":"","EndTime":"","Duration":""}}]},"versionId":"cac28433-2f29-45b7-9c49-c7613c48e462","triggerCount":1,"shared":[{"updatedAt":"2025-11-30T21:34:44.796Z","createdAt":"2025-11-30T21:34:44.796Z","role":"workflow:owner","workflowId":"f8uHcE4rXluwCmY5","projectId":"5r9mcuAehTDLs5sC"}],"tags":[]}