kendor-62ziXvgFQJbwQtHb.json




{"updatedAt":"2025-12-03T14:40:53.909Z","createdAt":"2025-12-02T23:31:17.480Z","id":"62ziXvgFQJbwQtHb","name":"Kendor","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"89b32336-bb82-4f79-9a8f-04140ff27fea","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1lMnVzBI6hX_PJADSnzmZjYaS6iijgB6ZVeBGDDpSUTk","mode":"list","cachedResultName":"Attendance Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lMnVzBI6hX_PJADSnzmZjYaS6iijgB6ZVeBGDDpSUTk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lMnVzBI6hX_PJADSnzmZjYaS6iijgB6ZVeBGDDpSUTk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email Notification"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[176,0],"id":"c6240a9c-4b80-4059-928f-0261fdd946d7","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"sendTo":"={{ $json.Email }}","subject":"Your HR Bootcamp Conference Delegate Pass","message":"=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>HR BootCamp Delegate Pass</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; background-color: #f5f5f5; padding: 20px;\">\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 600px; margin: auto; background: #ffffff; border-radius: 8px; overflow: hidden;\">\n    <tr>\n      <td style=\"padding: 30px;\">\n\n        <p style=\"font-size: 16px; color: #333;\">\n          Dear <strong>{{ $json['First Name'] }}</strong>,\n        </p>\n\n        <p style=\"font-size: 16px; color: #333;\">\n          Thank you for registering for the <strong>13<sup>th</sup> HR BootCamp Conference</strong>.\n        </p>\n\n        <p style=\"font-size: 16px; color: #333;\">\n          The conference will take place at the Ballroom, Oriental Hotel, from <strong>December 3<sup>rd</sup>–4<sup>th</sup>, 2025</strong>.\n        </p>\n\n        <p style=\"font-size: 16px; color: #333;\">\n          Please find below your official Delegate Access QR Code.\n        </p>\n\n        <div style=\"text-align: center; margin: 30px 0;\">\n          <img src=\"https://alx-qrcode-webapp.vercel.app/api/qr?text={{ $json.Email }}&logo=true\"\n               alt=\"Delegate Access QR Code\"\n               style=\"width: 220px; height: 220px; border-radius: 8px; border: 1px solid #ddd;\" />\n        </div>\n\n        <p style=\"font-size: 16px; color: #333;\">\n          Kindly present this at the registration desk for a smooth and seamless check-in process.\n        </p>\n\n        <p style=\"font-size: 16px; color: #333;\">\n          We look forward to hosting you and creating an exceptional learning experience.\n        </p>\n\n        <p style=\"font-size: 16px; color: #333; margin-top: 30px;\">\n          Warm regards,<br>\n          <strong>HR BootCamp Conference Team</strong>\n        </p>\n\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>\n","options":{"appendAttribution":false,"senderName":"Kendor Consulting – HR BootCamp Team"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[368,0],"id":"59fb9d84-6073-41da-bb2c-6a4a5a457904","name":"Send a message","webhookId":"230a2758-0da3-4cb9-b57a-05e4c241f781","credentials":{"gmailOAuth2":{"id":"ETawjlk4A5JB8DGT","name":"Gmail account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1lMnVzBI6hX_PJADSnzmZjYaS6iijgB6ZVeBGDDpSUTk","mode":"list","cachedResultName":"Attendance Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lMnVzBI6hX_PJADSnzmZjYaS6iijgB6ZVeBGDDpSUTk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lMnVzBI6hX_PJADSnzmZjYaS6iijgB6ZVeBGDDpSUTk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get row(s) in sheet').item.json.row_number }}","Email Notification":"SENT"},"matchingColumns":["row_number"],"schema":[{"id":"Paid Status","displayName":"Paid Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Days in Attendance","displayName":"Days in Attendance","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Attendance Mode","displayName":"Attendance Mode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Gender","displayName":"Gender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Mode of Attendance","displayName":"Mode of Attendance","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Notification","displayName":"Email Notification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[608,0],"id":"02204755-a378-442d-8c32-5067d0049a4e","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bc098826-24e5-4b65-ac9d-91f42c942ae9","triggerCount":0,"shared":[{"updatedAt":"2025-12-02T23:31:17.480Z","createdAt":"2025-12-02T23:31:17.480Z","role":"workflow:owner","workflowId":"62ziXvgFQJbwQtHb","projectId":"5r9mcuAehTDLs5sC"}],"tags":[]}