telegram-bPZAMBFfAS4GLoD1.json




{"updatedAt":"2025-12-05T16:07:14.779Z","createdAt":"2025-12-02T10:21:12.539Z","id":"bPZAMBFfAS4GLoD1","name":"Telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=Here is the personnel dataset:\n\n{{ JSON.stringify($json.data || $json, null, 2) }}\n\n\nHere is the latest user message:\n\n{{ $('When chat message received').item.json.chatInput }}\n\nPlease respond according to the system rules.\n\n\n","options":{"systemMessage":"=You are a highly intelligent data-analysis assistant for a personnel database.\n\nYour responsibilities:\n- Answer ANY natural-language question about the dataset provided in the user message.\n- Use only the dataset supplied. Never hallucinate missing data.\n- If the user asks a greeting (“hi”, “hello”), respond normally and DO NOT analyze the dataset.\n- If the user asks about data, analyze the dataset using counting, grouping, filtering, ranking, date patterns, and comparisons.\n- When helpful, produce small tables.\n- If data is missing or ambiguous, say so.\n- Maintain conversational context. You are allowed to reference previous messages provided in memory.\n- Never rewrite or modify memory yourself — memory is managed by the wrapper.\n- Speak like a friendly chatbot.\n\nField definitions:\n- _id: unique identifier\n- serviceNumber: string\n- fullName: personnel name\n- sex: Male / Female\n- rank: officer rank\n- blockNumber: housing or assignment block\n- servingUnit: deployment or command\n- dependents: number or list\n- accessStatus: account status\n- roles: list of assigned privileges\n- isVerified: boolean\n- createdAt / updatedAt: timestamps\n\nAdditional capabilities:\n- You support memory-persistent conversation. The wrapper handles memory storage; you use it to stay consistent.\n- You automatically detect insights, trends, anomalies, and interesting patterns — but ONLY when the user asks something related.\n- If the user requests general insights (“give me patterns”, “find anomalies”), generate them based on the dataset.\n\nImportant rule:\nOnly analyze the dataset if the user message clearly requests analysis.\nIf it is NOT a data-related question, respond conversationally and ignore the dataset.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-688,880],"id":"93b06f61-bcc6-4360-a7c8-0be694e36614","name":"AI Agent"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1072,736],"id":"b720609c-380d-44ba-85c0-c045385d262a","name":"Telegram Trigger","webhookId":"3219e4e4-2756-4ff8-9bc2-4a943de891ee","credentials":{"telegramApi":{"id":"pjKXVoHTpaEmA44P","name":"Telegram account"}},"disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-944,992],"id":"18e5511b-7283-48de-ac46-d44c73f319ff","name":"When chat message received","webhookId":"02f92e43-0a40-4776-a932-cf4d370aa838"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-768,1264],"id":"c2d4cc7b-922a-484e-8c79-3e72f7cdef85","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"5U2HvOY5rlbkJ7WO","name":"Google Gemini(PaLM) Api account"}},"disabled":true},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-592,1280],"id":"932715de-bed9-4dfe-ba61-1f19ffff7d9a","name":"Simple Memory","disabled":true},{"parameters":{"mode":"raw","jsonOutput":"=\n {{ $json.output }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-576,576],"id":"d1c1c6d5-28fc-4635-abda-4cf4460b3851","name":"Edit Fields","disabled":true},{"parameters":{"collection":"students","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[-384,1024],"id":"808fee69-b116-4bfd-a161-1248075ae8bb","name":"Find documents","credentials":{"mongoDb":{"id":"qtsQl4VXAeGexcpT","name":"MongoDB account"}},"disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1uhelQABzvHSDXcsPFu5PPOA1vLq6gAhX2sCC8V18Zm8","mode":"list","cachedResultName":"Examible DB","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uhelQABzvHSDXcsPFu5PPOA1vLq6gAhX2sCC8V18Zm8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uhelQABzvHSDXcsPFu5PPOA1vLq6gAhX2sCC8V18Zm8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json._id }}","Fullname":"={{ $json.fullName }}","Email":"={{ $json.email }}","EnrolledSubjects":"={{ $json.enrolledSubjects }}","isVerified":"={{ $json.isVerified }}","Roles":"={{ $json.roles }}","isLoggedIn":"={{ $json.isLoggedIn }}","StudySession":"={{ $json.studySessions }}","LeadershipBoard":"={{ $json.leadershipBoard }}","Plan":"={{ $json.plan }}","ExpirationDate":"={{ $json.expirationDate }}","TotalRating":"={{ $json.totalRating }}","MyRating":"={{ $json.myRating }}","LoginHistory":"={{ $json.loginHistory }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fullname","displayName":"Fullname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EnrolledSubjects","displayName":"EnrolledSubjects","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"isVerified","displayName":"isVerified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Roles","displayName":"Roles","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"isLoggedIn","displayName":"isLoggedIn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"StudySession","displayName":"StudySession","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LeadershipBoard","displayName":"LeadershipBoard","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Plan","displayName":"Plan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ExpirationDate","displayName":"ExpirationDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TotalRating","displayName":"TotalRating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MyRating","displayName":"MyRating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LoginHistory","displayName":"LoginHistory","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-240,1184],"id":"746fae4a-8912-4471-9457-07da0bcd5d60","name":"User Data","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}},"disabled":true},{"parameters":{},"id":"741c16c1-0c7c-477d-8802-fcc59cb8bd4e","name":"Examible AI Brain","type":"n8n-nodes-base.basicLlmChain","typeVersion":1,"position":[-1504,1600],"disabled":true},{"parameters":{"options":{}},"id":"379568af-294f-4e16-b09a-57f25e5b2986","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1136,1632],"disabled":true},{"parameters":{"jsCode":"// Try to parse the AI response as JSON\ntry {\n  const aiOutput = $input.item.json.text;\n  // Look for JSON pattern if the AI wrapped it in code blocks\n  const cleanJson = aiOutput.replace(/```json/g, '').replace(/```/g, '').trim();\n  \n  if (cleanJson.startsWith('{') && cleanJson.includes('\"is_lead\": true')) {\n    const parsed = JSON.parse(cleanJson);\n    return {\n      json: {\n        ...parsed,\n        type: 'LEAD'\n      }\n    };\n  }\n  \n  return {\n    json: {\n      text: aiOutput,\n      type: 'CHAT'\n    }\n  };\n} catch (e) {\n  // If parsing fails, it's just a normal chat message\n  return {\n    json: {\n      text: $input.item.json.text,\n      type: 'CHAT'\n    }\n  };\n}"},"id":"ada414bf-f771-43ba-ba3c-0291b9780615","name":"Detect Lead JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,1424],"disabled":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.type }}","value2":"LEAD"}]}},"id":"6ec0bedc-8209-45da-af89-bc1ceb45617e","name":"Is New Lead?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-704,1680],"disabled":true},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"YOUR_GOOGLE_SHEET_ID_HERE"},"sheetName":{"__rl":true,"mode":"list","value":"Sheet1"},"columns":{"mappingMode":"defineBelow","value":{"First Name":"={{ $json.firstName }}","Last Name":"={{ $json.lastName }}","Email":"={{ $json.email }}","Phone":"={{ $json.phone }}","Date Added":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Date Added","displayName":"Date Added","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"ea865dd3-2abc-41b6-bf19-7059faa017b6","name":"Add to Waiting List","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-400,1664],"disabled":true},{"parameters":{"sendTo":"={{ $json.email }}","subject":"Welcome to the Examible Manager Team!","message":"Hi {{ $json.firstName }},\n\nWelcome to the Examible Manager Waiting List!\n\nHere are your details:\n1. Onboarding Link: https://examible.com/onboarding\n2. WhatsApp Group: https://chat.whatsapp.com/YOUR_GROUP_LINK\n\nSee you inside!\nExamible Team","options":{}},"id":"eb28928e-b68b-4b68-af46-6527f4e478a5","name":"Send Onboarding Email","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[32,1728],"webhookId":"801d357e-e52d-4d8f-ab63-07a7aca4c61d","disabled":true},{"parameters":{"options":{}},"id":"3fd79e8a-cd9e-417b-9c91-141edc5818af","name":"Fetch Knowledge Base","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,-16],"disabled":true,"notes":"Replace with Vector Store or HTTP Request"},{"parameters":{"options":{}},"id":"e5d95b21-efd8-4758-a8a9-184e35ac405a","name":"Get User Data Sheet","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,112],"disabled":true,"notes":"Replace with Google Sheets: Get Row"},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"={{ $json.type === 'LEAD' ? $json.response_message : $json.text }}","additionalFields":{}},"id":"5a02e2fb-9359-43d8-84e8-95a7d5e76d92","name":"Reply to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-400,2032],"webhookId":"e4759de7-0e7f-45ec-85c7-b1d107fcfa36","credentials":{"telegramApi":{"id":"pjKXVoHTpaEmA44P","name":"Telegram account"}},"disabled":true},{"parameters":{"options":{}},"id":"b20d86d8-bbbd-4a72-a1cf-a25531dd41b8","name":"Telegram Trigger1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1072,304],"disabled":true,"notes":"Replace this with your actual Telegram Trigger node"},{"parameters":{"operation":"get","documentURL":"=https://docs.google.com/document/d/1o7BoE6t8RrnYsdeHmgFl47Pno0MvSh0y-WVg2Nml0xs/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-1584,0],"id":"bb84e432-a6f5-491e-b5d8-ff37037f4f59","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"sWgI6gYKyNPa5zvc","name":"Google Docs account"}},"disabled":true},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-816,2080],"id":"1ac05d31-97db-4167-8b77-728539308f4c","name":"Extract from File","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"e556566e-20a1-48b4-b01e-197a402b5a5f","name":"id","type":"string","value":"={{ $json.id }}"}]},"options":{}},"id":"8b5cd3a1-5eba-4dd4-9f57-0d9d4d28cd2d","name":"Set ID","type":"n8n-nodes-base.set","position":[3344,112],"typeVersion":3.4},{"parameters":{"mode":"insert","tableName":{"__rl":true,"mode":"list","value":"documents","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"4f5ad132-f77f-436f-ab14-b428223d309f","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","position":[4144,112],"typeVersion":1},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set ID').item.json.id }}"}]}}},"id":"44d7ee6b-99ec-4272-9787-3a7a21bf67c8","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[4288,320],"typeVersion":1},{"parameters":{"chunkSize":500,"chunkOverlap":100,"options":{}},"id":"0b2e0e26-5387-4747-97c4-50d2607b05f7","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[4384,480],"typeVersion":1},{"parameters":{"options":{}},"id":"a6747d5a-4640-451a-8790-272549d591b2","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[4112,320],"typeVersion":1.1},{"parameters":{"pollTimes":{"item":[{}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"mode":"list","value":"1UHQhCrwZg_ZEzBIKv4LR_RWtAyHbxZsg","cachedResultUrl":"https://drive.google.com/drive/folders/1UHQhCrwZg_ZEzBIKv4LR_RWtAyHbxZsg","cachedResultName":"Marketing Ladder Knowledge Base"},"event":"fileCreated","options":{}},"id":"8bdbf3b2-c1eb-445f-bad6-65ee9ca5a4b0","name":"New File","type":"n8n-nodes-base.googleDriveTrigger","position":[3104,112],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"ef7c3761-5e6b-4e0b-831d-7c0f8c25524e","name":"Download File","type":"n8n-nodes-base.googleDrive","position":[3648,112],"typeVersion":3},{"parameters":{"content":"# Upload New File into Knowledge Base\n\n","height":80,"width":820,"color":4},"id":"a67a6bff-23c4-4969-82c0-ce00bd06ef1b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[3056,-96],"typeVersion":1},{"parameters":{"content":"## Fix Formatting\n","height":260,"color":5},"id":"03d8d415-5cf1-4d09-a31b-6e06d93bb7d3","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[3344,32],"typeVersion":1},{"parameters":{"content":"## Extract File Text\n\n","height":260,"width":420,"color":5},"id":"a9d03f1b-67f9-4a57-86aa-1bdefae32b63","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[3616,32],"typeVersion":1},{"parameters":{"content":"## Update Vector Database\n\n","height":580,"width":560,"color":5},"id":"f90b2258-38f4-4e9b-b564-253e11b88001","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[4048,32],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"mode":"list","value":"1UHQhCrwZg_ZEzBIKv4LR_RWtAyHbxZsg","cachedResultUrl":"https://drive.google.com/drive/folders/1UHQhCrwZg_ZEzBIKv4LR_RWtAyHbxZsg","cachedResultName":"Marketing Ladder Knowledge Base"},"event":"fileUpdated","options":{}},"id":"7d32c3a4-3770-4b5c-8d1f-637b9edc1d37","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","position":[3104,848],"typeVersion":1},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.id }}*"},"id":"93a9e715-4b0c-4a86-a5bd-ba322277133d","name":"Delete Row(s)","type":"n8n-nodes-base.supabase","position":[3392,848],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"b4433ac7-0b70-4405-a564-f3f78f784470","name":"file_id","type":"string","value":"={{ $('File Updated').item.json.id }}"}]},"options":{}},"id":"add2169b-4131-4683-b6c0-ec45e6bc894c","name":"Get FIle ID","type":"n8n-nodes-base.set","position":[3664,848],"typeVersion":3.4},{"parameters":{},"id":"3ecede11-3b19-4b7a-a663-86452d26ef72","name":"Reformat","type":"n8n-nodes-base.limit","position":[3872,848],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $('Get FIle ID').item.json.file_id }}"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"12de35e8-1e13-4a0e-9d2c-1b111e97b1da","name":"Download File1","type":"n8n-nodes-base.googleDrive","position":[4064,848],"typeVersion":3},{"parameters":{"content":"# Update File in Knowledge Base \n","height":80,"width":640,"color":4},"id":"ef1344b3-3978-4348-9ab6-38dd790df041","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[3024,624],"typeVersion":1},{"parameters":{"content":"## Get File to Update\n \n","height":260,"width":280,"color":5},"id":"035c2ff5-95b5-4cd1-9919-3f073e8e40c1","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[3024,752],"typeVersion":1},{"parameters":{"content":"## Fix Formatting\n","height":260,"width":400,"color":5},"id":"fc500b62-7337-46c2-8707-c49d88ecaa7c","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[3584,752],"typeVersion":1},{"parameters":{"content":"## Extract File Text\n\n","height":260,"width":420,"color":5},"id":"82a6ea9c-0f77-4f69-83ce-0c27f4d9c6f8","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[4016,752],"typeVersion":1},{"parameters":{"content":"## Update Vector Database\n\n","height":580,"width":600,"color":5},"id":"57816ed8-6ab2-4d68-a0bb-84bdcc29dbcc","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[4464,752],"typeVersion":1},{"parameters":{"chunkSize":300,"chunkOverlap":50,"options":{}},"id":"04b8c39d-914a-4e8b-8192-bd250b044f13","name":"Recursive Character Text Splitter1","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[4864,1184],"typeVersion":1},{"parameters":{"operation":"text","options":{}},"id":"0a033bd7-843e-407b-9b62-34ed6f35eb2c","name":"Extract from File1","type":"n8n-nodes-base.extractFromFile","position":[4256,848],"typeVersion":1},{"parameters":{"options":{}},"id":"e02325e9-e747-4944-9f84-2ab4b3685943","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[4592,1040],"typeVersion":1.1},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('Reformat').item.json.file_id }}"}]}}},"id":"56439531-76f8-4c63-9a28-65142caf9f0a","name":"Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[4768,1040],"typeVersion":1},{"parameters":{"mode":"insert","tableName":{"__rl":true,"mode":"list","value":"documents","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"05405e39-b492-4a15-bd9e-d82ae0a253fb","name":"Supabase Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","position":[4608,848],"typeVersion":1},{"parameters":{"content":"## Get New File \n","height":260,"width":280,"color":5},"id":"6abbbf98-5f7c-4989-ab6c-96f2cb410934","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[3056,32],"typeVersion":1},{"parameters":{"content":"## Delete Rows\n \n","height":260,"width":280,"color":5},"id":"9b0651ba-a0fb-447d-94d9-7a6c110c1e1d","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[3312,752],"typeVersion":1},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"47405d8f-46c9-4e18-8147-3f1932df5ecf","name":"Transcribe","type":"@n8n/n8n-nodes-langchain.openAi","position":[1488,192],"typeVersion":1.6},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","type":"string","value":"={{ $json.message.text }}"}]},"options":{}},"id":"d63f34a8-1a6c-429f-95d3-c11132e60eb8","name":"Text","type":"n8n-nodes-base.set","position":[1392,384],"typeVersion":3.4},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"281588e5-cab1-47c7-b42a-f75b8e7b659e","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.voice.file_id }}","rightValue":""}]},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.text }}","rightValue":""}]},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"32d321d7-7a41-4da5-a2c2-5cc6dce976d8","name":"Voice or Text","type":"n8n-nodes-base.switch","position":[1088,320],"typeVersion":3.2},{"parameters":{"chatId":"={{ $('Telegram Trigger2').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"1641c410-8035-440e-a3de-95f9f9c137e5","name":"Response","type":"n8n-nodes-base.telegram","position":[2512,48],"webhookId":"5dced4b9-5066-4036-a4d4-14fc07edd53c","typeVersion":1.2,"credentials":{"telegramApi":{"id":"pjKXVoHTpaEmA44P","name":"Telegram account"}}},{"parameters":{"content":"## Convert Message to Text\n\n","height":460,"width":680,"color":5},"id":"4dc97667-7f96-4188-884b-91cb9b836ec3","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1024,144],"typeVersion":1},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Overview\nYou are a RAG assistant. Your job is to search for queries from a vector database and pass on the search results.\n\n# Tools\n**MarketingLadder**  \n- This is the vector store that you must query to find answers. \n- Use the search findings from the vector store to create an answer to the input query.\n\n## Final Notes\n- If you can't find an answer from the database, then just say you couldn't find an answer. Never use your own knowledge. "}},"id":"63dfc532-da19-4313-ac03-04cc175ff598","name":"RAG Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1984,-160],"typeVersion":1.7},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger2').item.json.message.chat.id }}"},"id":"542b0f9b-12de-422d-8cdd-0fcc7d3bfddd","name":"Window Buffer Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[2080,224],"typeVersion":1.3},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"id":"f20ccb15-add3-4983-8fd0-3655996e994e","name":"Download File2","type":"n8n-nodes-base.telegram","position":[1312,192],"webhookId":"83bb7385-33f6-4105-8294-1a91c0ebbee5","typeVersion":1.2,"credentials":{"telegramApi":{"id":"pjKXVoHTpaEmA44P","name":"Telegram account"}}},{"parameters":{"tableName":{"__rl":true,"mode":"list","value":"documents","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"e2f42463-da26-43e4-8c21-18ed92867f68","name":"Supabase Vector Store3","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","position":[2080,592],"typeVersion":1},{"parameters":{"options":{}},"id":"d2e787a1-bf54-4f19-9b74-a95b70f9d33f","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[2352,656],"typeVersion":1.1},{"parameters":{"content":"# RAG Chatbot\n","height":80,"width":280,"color":4},"id":"44c7132b-59d0-423c-9ba8-18e83fcd557f","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[752,48],"typeVersion":1},{"parameters":{"options":{}},"id":"831454bd-1644-4510-855f-42f8307b637f","name":"Embeddings OpenAI3","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[1952,784],"typeVersion":1.2},{"parameters":{"content":"## Get New Message\n","height":260,"width":280,"color":5},"id":"02a7fb10-9e5e-4c41-bf0c-fb76cb8ad728","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[736,272],"typeVersion":1},{"parameters":{"content":"## RAG System\n\n","height":860,"width":720,"color":5},"id":"72a309d0-a386-4bff-82f5-d3a0584d4fdf","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","position":[1728,144],"typeVersion":1},{"parameters":{"content":"## Send Output as Message\n","height":260,"width":320,"color":5},"id":"be5601f4-86c6-423b-8795-579451575e2f","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","position":[2464,240],"typeVersion":1},{"parameters":{"model":"gpt-4o","options":{}},"id":"a8a4dbd6-1f8d-430a-b697-30df21bf62c1","name":"OpenAI Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1856,240],"typeVersion":1.1},{"parameters":{"name":"MarketingLadder","description":"This vector store holds information about Marketing Ladder agency"},"id":"5871777c-423b-4133-bfb0-20cc41b71a62","name":"MarketingLadder","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[2272,400],"typeVersion":1},{"parameters":{"content":"## Hey, I'm Abdul 👋\n### I build growth systems for consultants & agencies. If you want to work together or need help automating your business, check out my website: \n### **https://www.builtbyabdul.com/**\n### Or email me at **abdul@buildabdul.com**\n### Have a lovely day ;)`","height":240,"width":440,"color":5},"id":"d5087e9d-9956-4627-9ed3-67ed2c26f8e2","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","position":[224,1248],"typeVersion":1},{"parameters":{"content":"# Company RAG Knowledge Base Agent\n## Overview\nTurn your docs into an AI-powered internal or public-facing assistant. This chatbot workflow uses RAG (Retrieval-Augmented Generation) with Supabase vector search to answer employee or customer questions based on your company documents—automatically updated via Google Drive.\n\nWhether it’s deployed in Telegram or embedded on your website, this agent supports voice and text input, transcribes voice messages, pulls relevant context from your internal files, and responds with a helpful, AI-generated answer. Two additional workflows listen for file changes in a shared Google Drive folder, convert them into embeddings using OpenAI, and sync them with your Supabase vector DB—so your knowledge base is always up to date.\n\n### Who’s it for\n- Startups building an internal ops or HR assistant  \n- SaaS companies deploying help bots on their websites  \n- Customer support teams reducing repetitive questions  \n- Knowledge-driven teams needing internal AI assistants  \n\n### How it works\n- Triggered via Telegram bot (or easily swapped for website chatbot or “on chat message”)  \n- If user sends a voice message, it’s transcribed to text using OpenAI Whisper  \n- Input is passed to a RAG agent that:\n  - Searches a Supabase vector store for relevant docs  \n  - Pulls context from matching chunks using OpenAI embeddings  \n  - Responds with an LLM-powered answer  \n- The response is sent back as a Telegram message  \n- Two separate workflows:\n  - **New File Workflow**: Listens for file uploads in Google Drive, extracts and splits text, then sends to Supabase with embeddings  \n  - **Update File Workflow**: Detects file edits, deletes old rows, and updates embeddings for the revised file  \n\n### Example use case\n> You upload your internal policy docs and client FAQs into a Google Drive folder.  \n>  \n> Employees or customers can now ask:  \n> - “What’s the refund policy for annual plans?”  \n> - “How do I request a day off?”  \n> - “What tools are approved for use by the engineering team?”  \n>  \n> The chatbot instantly pulls up the right section and responds with a smart, confident answer.\n\n### How to set up\n1. Connect a Telegram bot or use n8n’s webchat / chatbot widget  \n2. Hook up OpenAI for transcription, embeddings, and completion  \n3. Set up a Supabase project and connect it as a vector store  \n4. Upload your internal docs to Google Drive  \n5. Deploy the “Add File” and “Update File” automations to manage embedding sync  \n6. Customize the chatbot’s tone and personality with prompt tweaks  \n\n### Requirements\n- Telegram bot (or n8n Chat widget)  \n- Google Drive integration  \n- Supabase with pgvector or similar enabled  \n- OpenAI API key (Whisper, Embeddings, ChatGPT)  \n- Two folders: one for raw documents and one for tracking updates  \n\n### How to customize\n- Swap Supabase for Pinecone, Weaviate, or Qdrant  \n- Replace Telegram with web chat, Slack, Intercom, or Discord  \n- Add logic to handle fallback answers or escalate to human  \n- Embed the chat widget on your site for public customer use  \n- Add filters (e.g. department, date, author) to narrow down context\n","height":1420,"width":780},"id":"0980c076-0caf-42e6-86c9-78d69b521f96","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","position":[-112,-240],"typeVersion":1},{"parameters":{"operation":"text","options":{}},"id":"97e4a7fb-8af3-4b1d-a51d-60dff3dc93f2","name":"Extract from File2","type":"n8n-nodes-base.extractFromFile","position":[3840,112],"typeVersion":1},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"09e6b0c8-bd25-44c4-b9df-34a3ffde527c","name":"Telegram Trigger2","type":"n8n-nodes-base.telegramTrigger","position":[848,320],"webhookId":"2e5e253b-982e-4fe3-8048-b64897e77535","typeVersion":1.2,"credentials":{"telegramApi":{"id":"pjKXVoHTpaEmA44P","name":"Telegram account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2016,1072],"id":"c2a07ed1-a57c-42b4-bf9f-50c1c70d0986","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"5U2HvOY5rlbkJ7WO","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Telegram Trigger":{"main":[[]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Find documents","type":"main","index":0}]]},"Find documents":{"main":[[{"node":"User Data","type":"main","index":0}]]},"Detect Lead JSON":{"main":[[{"node":"Is New Lead?","type":"main","index":0}]]},"Is New Lead?":{"main":[[{"node":"Add to Waiting List","type":"main","index":0}],[{"node":"Reply to Telegram","type":"main","index":0}]]},"Add to Waiting List":{"main":[[{"node":"Send Onboarding Email","type":"main","index":0}]]},"Send Onboarding Email":{"main":[[{"node":"Reply to Telegram","type":"main","index":0}]]},"Fetch Knowledge Base":{"main":[[{"node":"Get User Data Sheet","type":"main","index":0}]]},"Telegram Trigger1":{"main":[[{"node":"Fetch Knowledge Base","type":"main","index":0}]]},"Text":{"main":[[{"node":"RAG Agent","type":"main","index":0}]]},"Set ID":{"main":[[{"node":"Download File","type":"main","index":0}]]},"New File":{"main":[[{"node":"Set ID","type":"main","index":0}]]},"Reformat":{"main":[[{"node":"Download File1","type":"main","index":0}]]},"RAG Agent":{"main":[[{"node":"Response","type":"main","index":0}]]},"Transcribe":{"main":[[{"node":"RAG Agent","type":"main","index":0}]]},"Get FIle ID":{"main":[[{"node":"Reformat","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Delete Row(s)","type":"main","index":0}]]},"Delete Row(s)":{"main":[[{"node":"Get FIle ID","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Extract from File2","type":"main","index":0}]]},"Voice or Text":{"main":[[{"node":"Download File2","type":"main","index":0}],[{"node":"Text","type":"main","index":0}]]},"Download File1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Download File2":{"main":[[{"node":"Transcribe","type":"main","index":0}]]},"MarketingLadder":{"ai_tool":[[{"node":"RAG Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Supabase Vector Store3","type":"ai_embedding","index":0}]]},"Extract from File1":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"MarketingLadder","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"RAG Agent","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"RAG Agent","type":"ai_memory","index":0}]]},"Supabase Vector Store3":{"ai_vectorStore":[[{"node":"MarketingLadder","type":"ai_vectorStore","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Extract from File2":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Telegram Trigger2":{"main":[[{"node":"Voice or Text","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"30b72099-765e-4961-bccd-21b2e5134bb4","triggerCount":0,"shared":[{"updatedAt":"2025-12-02T10:21:12.539Z","createdAt":"2025-12-02T10:21:12.539Z","role":"workflow:owner","workflowId":"bPZAMBFfAS4GLoD1","projectId":"5r9mcuAehTDLs5sC"}],"tags":[]}