unbooking-flow-tLj2TgwIgbhkFkGR.json




{"updatedAt":"2025-12-01T07:57:19.202Z","createdAt":"2025-11-30T21:35:04.051Z","id":"tLj2TgwIgbhkFkGR","name":"UnBooking Flow","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-224,144],"id":"39c117ee-6115-4b87-9ca9-486ff87bb6ec","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc","mode":"list","cachedResultName":"ALX Hub Booking Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Bookings","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,0],"id":"7796bc17-994a-4995-9967-a23a0573accc","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7d66e91b-f59a-4ae7-87c9-1c2dc8deeb25","leftValue":"={{ $json.BookingStatus }}","rightValue":"Booked","operator":{"type":"string","operation":"equals"}},{"id":"ad4599ce-20b1-4bdd-b04b-7c2c53cb826f","leftValue":"={{ $today.toFormat('MM/dd/yyyy') }}","rightValue":"={{ $json.BookingDate }}","operator":{"type":"string","operation":"equals"}},{"id":"aaaffb51-ceb7-460b-a841-38954e4f13e8","leftValue":"={{ $json.UnBookingNotification }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"0adb6d6c-1877-4ef7-a3f3-28ccb42fc98d","leftValue":"={{ $now }}","rightValue":"={{ DateTime.fromFormat($json.BookingTime, 'h:mm:ss a').plus({ minutes: 15 }) }}","operator":{"type":"dateTime","operation":"afterOrEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,192],"id":"6f495f3f-1103-4289-89ef-a76f7979e31f","name":"If"},{"parameters":{"sendTo":"={{ $('If').item.json.Email }}","subject":"Unbooking Notification","message":"=<html>\n  <body style=\"font-family: 'Inter', Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;\">\n    <div style=\"max-width: 600px; margin: 20px auto; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 12px rgba(0,0,0,0.15);\">\n      \n      <!-- HEADER: Soft Blue/Neutral Gradient -->\n      <div style=\"background: linear-gradient(to right, #6A1B9A, #4A148C); padding: 20px; color: white; text-align: center; border-radius: 8px 8px 0 0;\">\n        <img src=\"{{ 'https://res.cloudinary.com/dhlfbfuem/image/upload/v1759419340/Asset_3-8_cdfyce.png' }}\" alt=\"ALX Logo\" style=\"height: 35px; vertical-align: middle;\"/>\n        <p style=\"font-size: 14px; margin-top: 10px; opacity: 0.9;\">ALX NIGERIA HUB BOOKING NOTIFICATION</p>\n      </div>\n\n      <!-- BODY CONTENT -->\n      <div style=\"padding: 25px 30px;\">\n        <!-- TITLE: Focus on Status Update -->\n        <h2 style=\"color: #4A148C; margin-top: 0; font-size: 24px; font-weight: 700;\">Booking Status: Seat Released</h2>\n        \n        <p style=\"color: #333; line-height: 1.6;\">Hello <b>{{ $('If').item.json.Name }}</b>,</p>\n        \n        <!-- CORE MESSAGE: Gentle Explanation -->\n        <p style=\"color: #333; line-height: 1.6;\">\n          This is an automated notification regarding your reserved workspace at the <b>{{ $('If').item.json.Hub.toUpperCase() }}</b> hub for today.\n        </p>\n\n        <!-- SOFT WARNING BOX -->\n        <div style=\"border: 1px solid #90A4AE; background-color: #ECEFF1; padding: 15px; border-radius: 6px; margin-top: 20px;\">\n            <p style=\"color: #37474F; font-weight: bold; margin: 0 0 10px 0; font-size: 14px;\">CHECK-IN GRACE PERIOD EXPIRED</p>\n            <p style=\"color: #333; line-height: 1.5; font-size: 13px; margin: 0;\">\n                Our records indicate that you did not check in to your seat by <b>{{ DateTime.fromFormat($('If').item.json.BookingTime, 'h:mm:ss a').plus({ minutes: 15 }).toFormat('h:mm a') }}</b>. \n                As per the hub booking policy, your seat has been <b>automatically released</b> to ensure availability for other learners.\n            </p>\n        </div>\n        \n        <!-- DETAILS TABLE -->\n        <table style=\"width: 100%; margin: 25px 0; border-collapse: collapse; border: 1px solid #eee; border-radius: 4px;\">\n          \n          <tr>\n            <td style=\"padding: 10px 15px; width: 35%; color: #777; background-color: #fafafa; border-bottom: 1px solid #eee; font-size: 14px;\">Hub Location</td>\n            <td style=\"padding: 10px 15px; font-weight: bold; border-bottom: 1px solid #eee; font-size: 14px;\">{{ $('If').item.json.Hub.toUpperCase() }}</td>\n          </tr>\n          \n          <tr>\n            <td style=\"padding: 10px 15px; width: 35%; color: #777; background-color: #fafafa; border-bottom: 1px solid #eee; font-size: 14px;\">Original Time</td>\n            <td style=\"padding: 10px 15px; font-weight: bold; border-bottom: 1px solid #eee; font-size: 14px;\">{{ $('If').item.json.BookingTime }}</td>\n          </tr>\n          \n          <tr>\n            <td style=\"padding: 10px 15px; width: 35%; color: #777; background-color: #fafafa; font-size: 14px;\">Current Status</td>\n            <!-- UPDATED STATUS: Show CANCELLED (NO SHOW) explicitly -->\n            <td style=\"padding: 10px 15px; font-weight: bold; font-size: 14px; color: #D32F2F;\">Unbooked (NO SHOW)</td> \n          </tr>\n          \n        </table>\n        \n        <!-- CALL TO ACTION: Rebook -->\n        <p style=\"text-align: center; margin-top: 30px; font-size: 13px; color: #555;\">\n          If you are planning to arrive later, you may <b>rebook a new seat</b> immediately using the ALX Hub Booking platform.\n        </p>\n\n        <p style=\"text-align: center; margin-top: 30px; font-size: 12px; color: #999;\">\n          ALX Nigeria | Connect, Learn, Grow.\n        </p>\n      </div>\n\n      <!-- FOOTER -->\n      <div style=\"background-color: #4A148C; color: #ddd; text-align: center; padding: 10px 0; font-size: 11px;\">\n        ALX Nigeria | Automated System Notification.\n      </div>\n    </div>\n  </body>\n</html>","options":{"appendAttribution":false,"senderName":"ALX Nigeria Hub"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[592,192],"id":"f6f84b14-c75b-439d-9a60-d43b951020cf","name":"Send a message","webhookId":"f5df4e02-7bb8-4dc2-9018-89e5adfe285f","credentials":{"gmailOAuth2":{"id":"ETawjlk4A5JB8DGT","name":"Gmail account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc","mode":"list","cachedResultName":"ALX Hub Booking Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Bookings","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","BookingStatus":"Unbooked"},"matchingColumns":["row_number"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Program","displayName":"Program","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hub","displayName":"Hub","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SeatNumber","displayName":"SeatNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingDate","displayName":"BookingDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingTime","displayName":"BookingTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingStatus","displayName":"BookingStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BookingNotification","displayName":"BookingNotification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UnBookingNotification","displayName":"UnBookingNotification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ClientBookingId","displayName":"ClientBookingId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ServerBookingId","displayName":"ServerBookingId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[384,0],"id":"b44e61e3-7b1b-4c7a-8940-f105bd75d114","name":"Unbooked Change","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc","mode":"list","cachedResultName":"ALX Hub Booking Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Bookings","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GHbWmYq_yntI6jxbIXiXEiMKRrXOHiRPuCz1x3PeAQc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"UnBookingNotification":"SENT","row_number":"={{ $('Unbooked Change').item.json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Program","displayName":"Program","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hub","displayName":"Hub","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SeatNumber","displayName":"SeatNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingDate","displayName":"BookingDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingTime","displayName":"BookingTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingStatus","displayName":"BookingStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BookingNotification","displayName":"BookingNotification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UnBookingNotification","displayName":"UnBookingNotification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ClientBookingId","displayName":"ClientBookingId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ServerBookingId","displayName":"ServerBookingId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[800,32],"id":"50b8847c-a4f8-454c-bc4d-9ad0db89631d","name":"Unbooking Notification","credentials":{"googleSheetsOAuth2Api":{"id":"XDq9l3DjScLgVdDK","name":"Google Sheets account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Unbooked Change","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Unbooking Notification","type":"main","index":0}]]},"Unbooked Change":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cac28433-2f29-45b7-9c49-c7613c48e462","triggerCount":1,"shared":[{"updatedAt":"2025-11-30T21:35:04.051Z","createdAt":"2025-11-30T21:35:04.051Z","role":"workflow:owner","workflowId":"tLj2TgwIgbhkFkGR","projectId":"5r9mcuAehTDLs5sC"}],"tags":[]}